<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="SCGExcelBean"
	   	class="dep.excel.SCGExcelView">
	</bean>
	
	<bean id="EstimateExcelBean"
	   	class="dep.excel.EstimateExcelView">
	</bean>
	
	<bean id="P6ExcelBean"
	   	class="dep.excel.P6ExcelView">
	</bean>
 
 
</beans>